# -- START HERE --
dht = auto
directory.default.set = /home/user/downloads/
encoding.add = UTF-8
encryption = allow_incoming,try_outgoing,enable_retry,require_RC4
execute.nothrow = chmod,777,/home/user/.config/rpc.socket
execute.nothrow = chmod,777,/home/user/.sessions
network.port_random.set = yes
network.port_range.set = 18012-19512
network.scgi.open_port = localhost:18012
network.tos.set = throughput
peer_exchange = yes
pieces.hash.on_completion.set = no
#schedule = watch_directory,5,5,load.start=/home/user/rwatch/*.torrent
session.path.set = /home/user/.sessions/
import="/home/user/torrentdata/include.rc"
throttle.global_down.max_rate.set = 0
throttle.global_up.max_rate.set = 0
throttle.max_peers.normal.set = 100
throttle.max_peers.seed.set = -1
throttle.max_uploads.global.set = 100
throttle.min_peers.normal.set = 1
throttle.min_peers.seed.set = -1
trackers.use_udp.set = yes
use_udp_trackers = yes
# -- END HERE --
