# madrasi-movies Movies Old
schedule = watch_directory_39,5,5,"load_start=/home/user/torrents-files/movies/madrasi-movies/*.torrent,d.set_directory=/home/user/ssd/movies/madrasi-movies/"
schedule = tied_directory_39,5,5,start_tied=
schedule = untied_director_39,5,5,stop_untied=

